---
Checks: '-*
cppcoreguidelines-*
mpi-*
bugprone-*
-bugprone-easily-swappable-parameters
-bugprone-non-zero-enum-to-bool-conversion
cert-err52-cpp
cert-err60-cpp
cert-err34-c
cert-str34-c
cert-msc50-cpp
cert-msc51-cpp
cert-dcl58-cpp
cert-flp30-c
google-readability-casting
google-default-arguments
google-global-names-in-headers
google-readability-todo
google-runtime-int
google-runtime-operator
google-explicit-constructor
google-build-using-namespace
hicpp-multiway-paths-covered
hicpp-exception-baseclass
llvm-else-after-return
misc-*
-misc-definitions-in-headers
-misc-coroutine-hostile-raii
-misc-misleading-bidirectional
-misc-non-private-member-variables-in-classes
modernize-*
-modernize-use-trailing-return-type
openmp-use-default-none
performance-*
-performance-noexcept-swap
-performance-no-int-to-ptr
portability-simd-intrinsics
readability-*
-readability-function-size
-readability-identifier-length
-readability-suspicious-call-argument
-readability-avoid-nested-conditional-operator
-readability-isolate-declaration
-readability-redundant-access-specifiers
-readability-avoid-return-with-void-value
-readability-avoid-unconditional-preprocessor-if
-readability-function-cognitive-complexity
-readability-identifier-naming
-readability-reference-to-constructed-temporary'